{% extends 'base.html.twig' %}

{% block title %}Liste des produits{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row m-3">
        {% for product in products|filter( product => product.active == true) %}
            <div class="card m-2" style="width: 18rem;">
                <img class="card-img-top mt-3 rounded-2" src="{{ product.image }}" alt="{{ product.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.description }}</p>
                    <a href="{{ path('product', {'id': product.id}) }}" class="btn btn-primary btn-block w-100">
                        {{ product.price }} €
                        {% if product.plan == 'month' %}
                            /mo
                        {% elseif product.plan == 'year' %}
                            /yr
                        {% endif %}
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="container-fluid">
        <a class="m-2" href={{ path('stripe_get_data') }}>
            <button type="button" class="btn btn-success">
                Actualiser les données provenant de stripe
            </button>
        </a>
    </div>
    {% if app.user.customerStripeId != null and userAllowedToSeeInvoicesButton == true  %}
        <a href={{ path('invoices') }}><button class="btn btn-primary m-3" type="submit">Gérer mes factures</button></a>
    {% endif %}
    {% if app.user.customerStripeId != null and userAllowedToSeeStripePortal == true  %}
        <form method="POST" action="/stripe/customer/portal">
            <button class="btn btn-warning ms-3" type="submit">Gérer mes abonnements</button>
        </form>
    {% endif %}
</div>
{% endblock %}
