{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row m-3">
        <div class="card m-2" style="width: 18rem;">
            <img class="card-img-top mt-3 rounded-2" src="{{ product.image }}" alt="{{ product.name }}">
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">{{ product.description }}</p>
                <p class="card-text">{{ product.price }} {{ deviseEUR }}</p>
                <form action="/stripe/create-checkout-session/product/{{ product.id }}" method="POST" id="payment-form">
                    <button class="btn btn-primary" type="submit">Acheter</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
