{% extends 'base.html.twig' %}

{% block title %}Annulation de transaction{% endblock %}

{% block body %}
    <h1>Something went wrong :(</h1>
    <p>
      We appreciate your business!
      But something went wrong and the order was cancelled
    </p>
{% endblock %}