{# {% extends 'base.html.twig' %}

{% block title %}Commande effectuée{% endblock %}

{% block body %}
    <h1>Thanks for your order!</h1>
    <p>
      We appreciate your business!
      If you have any questions, please email
    </p>
{% if order.paymentType == 'subscription' %}
    <form id="manage-billing-form-ok" method='POST'>
        <input type='hidden' id='session_id' value={{ app.request.get('sessionId') }}>
        <button type='submit' class="success_payment_facturation" >Gérer l'abonnement</button>
    </form>
{% endif %}
{% endblock %}
{% block javascripts %}
  <script type="text/javascript">
      let customerId;

      let sessionIdOk = document.getElementById('session_id').value;

      const manageBillingFormOk = document.querySelector('#manage-billing-form-ok');
      manageBillingFormOk.addEventListener('submit', function(e) {
      e.preventDefault();
      fetch('/stripe/customer/portal', {
          method: 'POST',
          headers: {
          'Content-Type': 'application/json',
          },
          body: JSON.stringify({
              sessionId: sessionIdOk
          }),
      })
          .then((response) => {
              
              return response.json()
          })
          .then((data) => {
              console.log(data)
              window.location.href = data.url;
          })
          .catch((error) => {
          console.error('Error:', error);
          });
      });

  </script>
{% endblock %} #}

{% extends 'base.html.twig' %}

{% block title %}Commande effectuée{% endblock %}

{% block body %}
  <h1>Thanks for your order!</h1>
  <p>
    We appreciate your business!
    If you have any questions, please email
  </p>
  {% if order.paymentType == 'subscription' %}
      <form method="POST" action="/stripe/customer/portal">
        <button class="btn btn-warning" type="submit">Gérer mes abonnements</button>
      </form>
  {% endif %}
{% endblock %}