{% extends 'base.html.twig' %}

{% block title %}Liste des produits{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row m-3">
        <h2>Mes Abonnements</h2>
        {% for invoice in invoices %}
            <div class="card m-2" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Facture</h5>
                    <p class="card-text">Payment Intent: {{ invoice['payment_intent'] }}</p>
                    <p class="card-text">Subscription: {{ invoice['subscription'] }}</p>
                    <p class="card-text">Status: {{ invoice['status'] }}</p>
                    {% if invoice['customer_name'] != null %}
                        <p class="card-text">Customer: {{ invoice['customer_name'] }}</p>
                    {% else %}
                        <p class="card-text">Customer: Non renseigné</p>
                    {% endif %}
                    <p class="card-text">Customer: {{ invoice['customer_email'] }}</p>
                    <p class="card-text">Nom du compte: {{ invoice['account_name'] }}</p>
                    <p class="card-text">Pays du compte: {{ invoice['account_country'] }}</p>
                    <p class="card-text">Due: {{ invoice['amount_due'] / 100 }} {{ invoice['currency'] }}</p>
                    {% if invoice['status'] == true %}
                        <p class="card-text">Payé: {{ invoice['amount_paid'] / 100 }} {{ invoice['currency'] }}</p>
                    {% endif %}
                    <p class="card-text">Montant restant à payer: {{ invoice['amount_remaining'] / 100 }} {{ invoice['currency'] }}</p>
                    <a href="{{ invoice['invoice_pdf'] }}" class="btn btn-primary btn-block w-100">
                        Invoice PDF
                    </a>
                    <a href="{{ invoice['hosted_invoice_url'] }}" class="btn btn-primary mt-3 btn-block w-100">
                        Invoice Stripe hosted
                    </a>
                </div>
            </div>
        {% else %}
            <p class="text-secondary">Aucun abonnement(s)</p>
        {% endfor %}
    </div>
    <div class="row m-3">
        <h2>Mes Paiements finalisés</h2>
        {% for paymentIntent in paymentIntents %}
            <div class="card m-2" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Facture</h5>
                    <p class="card-text">Payment Intent: {{ paymentIntent['id'] }}</p>
                    {% if paymentIntent['invoice'] %}
                        <p class="card-text">Invoice ID: {{ paymentIntent['invoice'] }}</p>
                    {% endif %}
                    <p class="card-text">Status: {{ paymentIntent['status'] }}</p>
                    <p class="card-text">Méthode de paiement: {{ paymentIntent['payment_method_types'][0] }}</p>
                    {% if
                        paymentIntent['charges']['data'] is not empty
                        and paymentIntent['charges']['data'][0]['billing_details']['email'] != null
                    %}
                        <p class="card-text">Email: {{ paymentIntent['charges']['data'][0]['billing_details']['email'] }}</p>
                    {% endif %}
                    {% if
                        paymentIntent['charges']['data'] is not empty
                        and paymentIntent['charges']['data'][0]['billing_details']['name'] != null
                    %}
                        <p class="card-text">Nom: {{ paymentIntent['charges']['data'][0]['billing_details']['name'] }}</p>
                    {% endif %}
                    {% if 
                        paymentIntent['charges']['data'] is not empty    
                        and paymentIntent['charges']['data'][0]['billing_details']['phone'] != null
                    %}
                        <p class="card-text">Tél: {{ paymentIntent['charges']['data'][0]['billing_details']['phone'] }}</p>
                    {% endif %}
                    {% if paymentIntent['charges']['data'] is empty %}
                        <p class="card-text">Due: {{ paymentIntent['amount_capturable'] }} {{ paymentIntent['currency'] }}</p>
                    {% else %}
                        <p class="card-text">Due: {{ paymentIntent['amount'] / 100 }} {{ paymentIntent['currency'] }}</p>
                    {% endif %}
                    <p class="card-text">Payé: {{ paymentIntent['amount_received'] / 100 }} {{ paymentIntent['currency'] }}</p>
                    {% if paymentIntent['charges']['data'] is not empty %}
                        <a href="{{ paymentIntent['charges']['data'][0]['receipt_url'] }}" class="btn btn-primary btn-block w-100">
                            Receipt Stripe Hosted
                        </a>
                    {% else %}
                        <button class="btn btn-secondary text-light btn-block w-100">Période d'essai</button>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
